body {
  margin: 0;
  background-color: black;
}

.div {
  display: flex;
  position: fixed;
  color: white;
  font-family: sans-serif;
  user-select: none;
}

.parent-center {
  display: flex;
  position: fixed;
  inset: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  max-width: 28rem;
  width: 100%;
  padding: 10px;
}

.text1 {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 0;
}

.text2 {
  font-size: small;
  color: grey;
  margin-top: 0;
  line-height: 1;
}

.button {
  background-color: rgb(0, 153, 255);
  border-radius: 20px;
  border: 0;
  color: white;
  width: 90%;
  padding: 15px;
}
